# Go build artifacts
function-appcat-poc
appcat-runtime
*.exe
*.exe~
*.dll
*.so
*.dylib

# Crossplane function package
*.xpkg
*.xpkg.gz

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/
go.work
go.work.sum